<%@ tag pageEncoding="utf-8" %>

<form class="search-form" action="<jsp:doBody />">
  <input type="button" value="1주" />
  <input type="button" value="2주" />
  <input type="button" value="1개월" />
  <input type="button" value="3개월" />
  <input type="button" value="6개월" />
  <input type="button" value="1년" />
  <input type="text" class="date" value="2015-06-30" />
  <input type="button" class="calendar"></input>
  <input type="text" class="date" value="2015-07-06" />
  <input type="button" class="calendar"></input>
  <input type="submit" class="search" value="검색" />
  <input type="button" class="excel-download"></input>
</form>
