<%@ tag pageEncoding="utf-8" %>

<form class="search-form" action="<jsp:doBody />">
  <select name="target">
    <option value="name">이름</option>
  </select>
  <input type="text" />
  <input type="submit" class="search background-black" value="검색" />
</form>
