<%@ tag pageEncoding="utf-8" %>
<%@ attribute name="from" type="java.util.Date" required="true" description=""%>
<%@ attribute name="to" type="java.util.Date" required="true" description=""%>

<%=egovframework.rte.rex.comm.Util.getTimeDiff(from, to)%>
