body {
  background-color: #d6d6d6;
}

#header {
  position: fixed;
  top: 0px;
  height: 84px;
  width: 100%;
  border-bottom: solid 4px #ff3535;
  background-color: white;
}

#header > div {
  width: 1408px;
  height: 84px;
}


#brand {
  float: left;
  width: 150px;
  height: 100%;
  margin: 0px 25px;
  background-image: url('/sae/images/login_logo_top.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#header > div > ul > li > a {
  float: left;
  width: 200px;
  color: black;
  line-height: 84px;
  text-align: center;
  text-decoration: none;
}

#header >  div > ul > li > .active, #header > div > ul > li > a:hover{
  font-weight: bold;
  color:#CA1819;  
}


#logout {
  line-height: 84px;
  float: right;
  font-size: 12px;
  margin-right:12px;
}

#logout > a{
  color: #999999;
  text-align: center;
  text-decoration: none;
  border:1px solid #999999;
  padding:5px 10px 5px 10px;
  border-radius: 5px;
}

#logout > a:hover{
  color: #CA1819;
  border:1px solid #CA1819;
  border-radius: 5px;
}



#sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: #333;
}


#sidebar > ul > li > a {
  display: block;
  height: 60px;
  padding-left: 30px;
  line-height: 60px;
  border-bottom: solid 1px #484848;
  color: white;
  font-size: 14px;
  text-decoration: none;
}


#sidebar > ul > li > .active, #sidebar > ul > li > a:hover {
  background-color:#444444;
}


#body {
  margin-top: 84px;
  margin-left: 200px;
  border: solid 12px #d6d6d6;
  background-color: white;
}
