.background-1 {
  background-color: #b3d51b;
}

.background-2 {
  background-color: #ffb05c;
}

.background-3 {
  background-color: #ff5468;
}

.background-4 {
  background-color: #1bc8d5;
}

.background-5 {
  background-color: #2bb3fa;
}

background-6 {
  background-color: #bdbdbd;
}

.background-black {
  color: white;
  background-color: black;
}

.border-1 {
  border-color: #b3d51b;
}

.border-2 {
  border-color: #ffb05c;
}

.border-3 {
  border-color: #ff5468;
}

.border-4 {
  border-color: #1bc8d5;
}

.border-5 {
  border-color: #2bb3fa;
}

.white {
  color: white;
}
