input[type='radio'] {
	height: 20px;
	width: 20px;
	margin-top: 5px;
}

input:not([type='radio']) {
  -webkit-appearance: none;
  height: 28px;
  padding: 0 7px 0 7px;
  border: solid 1px;
  border-color: #b3b3b3 #dddddd #dddddd #b3b3b3;
}

input[type=button] {
  border: solid 1px #b3b3b3;
  background-color: white;
}

select {
  -webkit-appearance: none;
  height: 28px;
  width: 107px;
  padding: 0 7px 0 7px;
  border: solid 1px #b3b3b3;
  border-radius: 0;
  background: url('/sae/images/dropdown.png') no-repeat right;
  background-color: white;
  background-origin: content-box;
}

.row, .row:before, .row:after {
  display: table;
  content: " ";
  clear: both;
}

.col {
  display: inline-block;
  width: 330px;
  border-right: solid 1px #eeeeee;  
}

.panel {
  float: left;
}

.panel-heading-wrapper {
  height: 58px;
  line-height: 58px;
  border-bottom: solid 1px #ddd;
}

.panel-heading {
  height: 58px;
  width: 1200px;
  line-height: 58px;
}

.panel-title {
  margin-left: 16px;
}

.panel-title:before {
  content: url('/sae/images/icon_cursor.png');
  margin-right: 8px;
}

.panel-subtitle {
  margin-left: 8px;
  font-size: 12px;
}

.panel-right {
  float: right;
  margin-right: 16px;
}

.panel-body {
  padding: 20px;
  overflow: auto;
}

.chart {
  float: left;
  padding: 10px;
}

.chart-title {
  border-left: solid 5px white;
  padding-left: 5px;
  font-size: 14px;
}

.chart-subtitle {
  margin-left: 4px;
  font-size: 12px;
}

.gauge-chart {
  margin-top: 21px;
  background-image: url('/sae/images/gauge-chart.png');
  height: 125px;
  width: 246px;
}

.circle-chart {
  background-image: url('/sae/images/circle-chart.png');
  height: 183px;
  width: 183px;
}

.bar-chart {
  background-image: url('/sae/images/bar-chart.png');
  height: 287px;
  width: 1168px;
}

.table {
  float: left;
  padding: 3px;
  border: solid 1px #ccc;
  margin-right: 15px;
  font-size: 14px;
}

.table-small {
  width: 376px;
}

.table-big {
  width: 1160px;
}

.table-fixed-height {
  height: 404px; 
}

.table-fat > tbody td {
  height: 50px;
  line-height: 50px;
}

.table > thead {
  border-bottom: solid 1px #ccc;
}

.table > thead > tr {
  height: 50px;
  line-height: 50px;
}

.table > thead > tr:not(:first-child) {
  background-color: #f2f2f2;
}

.table-heading {
  color: white;
  text-align: left;
}

.table-title {
  padding-left: 22px;
}

.table-subtitle {
  margin-left: 8px;
  font-size: 12px;
}

.table-right {
  float: right;
  padding-right: 13px;
}

.table > tbody {
  text-align: center;
  font-size: 12px;
}

.table > tbody > tr {
  line-height: 22px;
}

.table > tbody > tr:hover {
  background-color: #ccc;
  cursor: pointer;
}

.search-form {
  display: inline;
}

.search {
  height: 26px;
  width: 48px;
  border: none;
  color: white;
  background-color: #ff5b5b;
}

.calendar {
  height: 18px;
  width: 19px;
  border: none;
  padding: 0;
  background-image: url('/sae/images/btn_calendar.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.excel-download {
  border: none;
  height: 28px;
  width: 101px;
  background-image: url('/sae/images/btn_excel.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.excel-download:hover {
  background-image: url('/sae/images/btn_excel_hover.png');
}

.pagination-wrapper{
	width:1160px;	
}

.pagination {
  display: inline-block;
  padding:0px;
  margin: 20px 0;
}

.pagination > li {
  display: inline;
}

.pagination > li > a {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: white;
  border: 1px solid #dddddd;
}

.pagination > li:first-child > a {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.big-button {
  display: inline;
  height: 53px;
  width: 152px;
  border: solid 1px #cccccc;
}
