.multiline-search-form {
  border-top: solid 2px #cccccc;
  border-bottom: solid 1px #cccccc;
  font-size: 12px;
}

.multiline-search-form label {
  display: inline-block;
  margin-top: 6px;
  margin-left: 5px;
  height: 23px;
  width: 89px;
}

.multiline-search-form input:not([type='radio']) {
  height: 32px;
  width: 211px;
  margin-top: 5px;
  margin-right: 21px;
}

.button-container {
  display: inline-block;
  border: solid 1px #bababa;
  background-color: white;
  padding: 2px;
  margin: 6px;
}

.button-container button {
  background-color: #f4f4f4;
  height: 118px;
  width: 152px;
  font-size: 18px;
}

.basic {
  padding-bottom: 5px;
  border-bottom: dashed 1px #cccccc;
}

.advanced {
  margin-top: 6px;
  height: 48px;
}

.advanced label {
  font-weight: bolder;
}

.advanced > input, .wearable-serial-number-value {
  color: #ff6339;
}

.col-padding {
  width: 498px;
}

.col-padding > div {
  width: 100%;
}

.section {
  display: block;
  height: 100px;
  padding-top: 23.5px;
}
