.background {
  background-image: url('/sae/images/bg_login.png');
  background-repeat: no-repeat;
  background-position: bottom;
}

#logo {
  width: 207px;
  height: 67px;
  margin: 0 auto;
  background-image: url('/sae/images/login_logo_top.png')
}

#id, #password, #ok {
  display: block;
  position: relative;
  height: 69px;
  width: 304px;
  border: 0;
  padding: 0;
  font-size: 21.7px;
  text-align: center;
  background-color: transparent;
}

#password, #ok {
  margin-top: 9px;
}

#id {
  margin-top: 45px;
  background-image: url('/sae/images/login_bg_id.png');
}

#password {
  background-image: url('/sae/images/login_bg_pw.png');
}

#ok {
  color: white;
  background-image: url('/sae/images/login_bg_ok.png');
}

#missed-password {
  display: block;
  margin-top: 25px;
  color: #7e7e7e;
  text-decoration: none;
  text-align: center;
}
