@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR";
  font-weight: 300;
}

.strong {
  font-weight: 400;
}

.hidden {
  visibility: hidden;
}

.center {
  text-align: center;
}
