.radio-button {
  width: 70px;
  text-align: right;
}

.radio-label {
  padding-left: 10px;
  text-align: left;
}

.radio .on {
  display: none;
}

.radio .off {
  display: inline;
}

.radio.selected .on {
  display: inline;
}

.radio.selected .off {
  display: none;
}

.table > tbody > tr:hover {
  background-color: transparent;
  cursor: auto;
}
