.button-container button {
  height: 63px;
}

.multiline-search-form select {
  height: 32px;
  width: 211px;
  margin-top: 5px;
  margin-right: 21px;
  color: #ff6339;
  font-size: 16px;
}

.multiline-search-form {
  border-top: solid 2px #cccccc;
  border-bottom: solid 2px #cccccc;
  font-size: 12px;
}

.basic {
  border: none;
}

.like-value {
  color: #ff7e00;
}

.dislike-value {
  color: #00a8ff;
}
